# Copy to maxmind-constants.local.toml (gitignored) and fill license_key.
# Used by Update-MaxMindGeoLite.ps1 and Stage-MaxMindGeoLiteDefaults.ps1.

account_id = "1377294"
license_key = "REPLACE_WITH_MAXMIND_LICENSE_KEY"
